.example-container {
  min-height: 100vh;
}

.example-sidenav-content {
  min-height: 100vh;
}

.example-spacer {
  flex: 1 1 auto;
}

.sn {
  padding-right: 40px;
}

.container {
  overflow: hidden;
}